/*------------------------------*/
/* SIDE-HEADER                  */
/* ---------------------------- */

.side-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #4a4a4a;
    color: #ccc;
}